.region-graph {
    display: table;
    width: 10px;
    height: 20px;
    background: white;
    position: fixed;
    margin-left: 1000px;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.selection-box {
    display: table;
    width: 250px;
    height: 4000px;
    background: white;
    position: absolute;
    margin-left: 1000px;
}

.info-box {
    display: table;
    background: white;
    width: 300px;
    height: 300px;
}

button {
    color: #fff;
    font-size: 9pt; 
    background: #A30D15;
    padding: 2px 5px;
    margin-top: 3px;
}

#title {
    margin-top: 20px;
    margin-left: 12px;
    font-family: sans-serif;
    visibility: hidden;
}

#year {
    margin-left: 12px;
    margin-top: 5px;
    font-family: sans-serif;
    visibility: hidden;

}

#director {
    margin-left: 12px;
    margin-top: 5px;
    font-family: sans-serif;
    visibility: hidden;
    margin-bottom: 8px;

}

#afr-button {
    visibility: hidden;
    margin-left: 15px;
    margin-right: 9px;
}

#asia-button {
    visibility: hidden;
}

#ca-button {
    visibility: hidden;
    margin-left: 10px;
}

#ee-button {
    visibility: hidden;
    margin-left: 15px;
    margin-right: 5px;
}

#eu-button {
    visibility: hidden;
    margin-left: 2px;
    margin-right: 5px;
}

#mideast-button {
    visibility: hidden;
    margin-left: 15px;
    margin-right: 9px;
}

#na-button {
    visibility: hidden;
    margin-left: 27px;
    margin-right: 10px;
}

#ocean-button {
    visibility: hidden;
    margin-left: 15px;
    margin-right: 5px;
}

#sa-button {
    visibility: hidden;
    margin-left: 50px;


}

#carib-button {
    visibility: hidden;
    margin-left: 15px;

}

#all-button {
    visibility: hidden;
    margin-left: 50px;
}

