.region-graph {
    display: table;
    width: 10px;
    height: 20px;
    background: white;
    position: fixed;
    margin-left: 1000px;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.selection-box {
    display: table;
    width: 250px;
    height: 4000px;
    background: white;
    position: absolute;
    margin-left: 1000px;
}

.info-box {
    display: table;
    background: white;
    width: 300px;
    height: 300px;
}

button {
    color: black;
    font-size: 7pt; 
}

#title {
    margin-top: 20px;
    margin-left: 12px;
    font-family: sans-serif;
    visibility: hidden;

}

#year {
    margin-left: 12px;
    margin-top: 5px;
    font-family: sans-serif;
    visibility: hidden;

}

#director {
    margin-left: 12px;
    margin-top: 5px;
    font-family: sans-serif;
    visibility: hidden;

}

#afr-button {
    background-color: white;
    visibility: hidden;
    margin-left: 15px;
    margin-right: 9px;
    margin-top: 9px;
}

#asia-button {
    background-color: white;
    visibility: hidden;
    margin-left: 5px;
    margin-right: 12px;
    margin-top: 25px;
}

#ca-button {
    background-color: white;
    visibility: hidden;

}

#ee-button {
    background-color: white;
    visibility: hidden;
    margin-left: 15px;
    margin-right: 5px;
    margin-top: 9px;
}

#eu-button {
    background-color: white;
    visibility: hidden;
    margin-left: 13px;
    margin-right: 5px;
    margin-top: 9px;
}

#mideast-button {
    background-color: white;
    visibility: hidden;
    margin-left: 15px;
    margin-right: 9px;
    margin-top: 9px;
}

#na-button {
    background-color: white;
    visibility: hidden;
    margin-left: 32px;
    margin-right: 20px;
    margin-top: 9px;
}

#ocean-button {
    background-color: white;
    visibility: hidden;
    margin-left: 15px;
    margin-right: 5px;
    margin-top: 9px;
}

#sa-button {
    background-color: white;
    visibility: hidden;
    margin-left: 50px;

}

#carib-button {
    background-color: white;
    visibility: hidden;
    margin-top: 9px;
    margin-left: 15px;

}

